h1 {
  color: white;
}

.bg-color-1 {
  background-color: #1298db;
}

.bg-color-2 {
  background-color: #e97ff3;
}

.bg-color-3 {
  background-color: #fdb137;
}

.bg-color-4 {
  background-color: #ffffff;
}
